@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: "Montserrat", sans-serif; 
    margin: 0px;
    background-color: black;
    color: white;
    overflow:hidden ;
    padding:0.5rem;

}
.main{
    display: flex;
    height: 100vh;
    
}
.sidebar{
    background-color:#000000;
    width: 420px;
    border-radius: 1rem;

}
.nav{
    line-height: 2.5rem;
    width: 320px;
    opacity: 0.7;
    padding: 0.25rem 0.75rem;
}
.nav i{
    font-size: 1.25rem;

}
.nav a{
    margin-left: 1.3rem;
    font-size: 18px;
}
.nav:hover{
    opacity: 1;
}
.outer{
    display: flex;
}
.inner-1, .inner-2 i{
    font-size: 19px;
    height:2.75rem ;
}
#title-icon{
    margin-left: 0px;
}
.nav-bar{
    padding: 0px;
    height: 9.75rem;

    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
}
.library-bar{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
}
.library-title{
    font-size: 18px;
    padding: 8px 16px;
}
.library-title-left,.library-title-right{
    display: inline-block;
}
.library-title-left {
    width: 20rem;
   
    /* margin-left: ; */
}
.library-title-left a{
    opacity: 0.7;
}
.library-title-right {
    font-size: 20px;
    letter-spacing: 6px;
    
}

.library-title-left a:hover{
    opacity: 1;
}
.library-title-right1 a,
.library-title-right2 a {
    opacity: 0.7;
}

.library-title-right1 a:hover,
.library-title-right2 a:hover {
    opacity: 1;
}
.library-card-box{
    padding: 0px 8px 8px;
    display: flex;
    flex-direction: column;

}
.first-card{
    background-color:#242424 ;
    margin: 8px 0px;
    line-height: 10px;
    border-radius: 1rem;
    padding:1rem 2rem;
    /* overflow:; */
}
.first-card p{
    font-size: 12px;
}
.first-card h5{
    margin: 0.5rem 0rem;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 30%;
    margin-bottom: 0.9rem;
}
#card-button{
    margin-top: 1.2rem;
    background-color: white;
    font-size: 14px;
    padding: 0.25rem 1rem;
    color: black;
    display: inline-block;
    width: 7rem;
    height: 2rem;
    border-radius: 10rem;
    font-weight: 600;
    display: flex;
}
#card-button p a{
    display: inline-block;
    margin: auto;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    color: black;
}
#card-button:hover{
    background-color: white;
    /* font-size: 17px; */
    padding: 0.25rem 1rem;
    color: black;
    display: inline-block;
    width: 7.2rem;
    height: 2.1rem;
    border-radius: 10rem;
    font-weight: 500;
    display: flex;
}
#card-button p a:hover{
    font-size: 15px;
    justify-content: center;
    align-content: center;
    color: black;
}
.second-card{
    margin:8px 0px ;
}
#card-button-1{
    margin-top: 1.2rem;
    background-color: white;
    font-size: 14px;
    padding: 0.25rem 1rem;
    color: black;
    display: inline-block;
    width: 7.88rem;
    height: 2rem;
    border-radius: 10rem;
    font-weight: 600;
    display: flex;
}
#card-button-1 p a{
    display: inline-block;
    margin: auto;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    color: black;
}
#card-button-1:hover{
    margin-top: 1.2rem;
    background-color: white;
    font-size: 14px;
    padding: 0.25rem 1rem;
    color: black;
    display: inline-block;
    width: 8.5rem;
    height: 2.1rem;
    border-radius: 10rem;
    font-weight: 600;
    display: flex;
}
#card-button-1 p a:hover{
    display: inline-block;
    margin: auto;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    color: black;
}
.references{
    width: 24.25rem;
    flex: 1;
    background-color: #121212;
}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 72px;
    width: 100%;
}